

$primary-color: #ff9300;
$secondary-color: #73d2ed;
$border-color: #ebebeb;
$black-color: #000000;
$white-color: #FFFFFF;
$grey-color: #808080;
$red-color: #FF0000;

$section-space-half: 1rem;
$section-space: 2rem;
$section-space-large: 4rem;

$border-style: 2px solid $border-color;

$small-border-style: 1px solid $border-color;


body{
    overflow: hidden;
    overflow-y: auto;
    font-family: "Roboto", sans-serif;

}

h1, h2, h3, h4, p, figure, li{
    margin: 0
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}



.border-theme-style{
    border: 2px solid $border-color !important;
}






.user-actions-links{
    i{
        color: $black-color; 
        font-size: 30px;
    }
    div{
        color: $black-color;
        font-size: 0.7rem;
        p{
            font-weight: bold;
        }
    }
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: var(--bs-navbar-nav-link-padding-x);
    padding-left: var(--bs-navbar-nav-link-padding-x);

}


    
.logo-style{
    color:$primary-color!important;
    font-weight: bolder;
    span{
        color: $black-color;
    }
}



.main-button-primary{
    display: inline-block;
    padding: 0.2rem 1rem;
    border-radius: 20px ;
    color: $white-color;
    background-color: $primary-color;
}


.custom-next-btn:after {
    content: "\e90d";
    font-family: 'IcoMoon'; 
    font-size: 2rem;
    color: $white-color; 
    border-radius: 50%;
    background-color: $black-color;
  }

.custom-prev-btn:after {
    content: "\e90c"; 
    font-family: 'IcoMoon'; 
    font-size: 2rem;
    color: $white-color; 
    border-radius: 50%;
    background-color: grey;
}

.swiper-pagination-bullet-active {
    background: $primary-color!important;
}

.swiper-pagination-bullet {
    background: $white-color;
    opacity: 1!important;
}




.product-cat-next,
.product-cat-prev {
  position: absolute;
  width: 10px;
  height: 10px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 100;
}


.section-title-theme{
    position: relative;
    margin-bottom: $section-space;
    text-align: center;
    border-bottom: $small-border-style;
    padding-bottom: 1rem;
    h2{
        font-size: 1.5rem;
        font-weight: bold;
    }
    .title-style{
        position: absolute;
        display: inline-block;
        width: 4rem;
        height: 2px;
        background-color: $primary-color;
        bottom: -2px;
        transform: translate(-50%,-50%)
    }
}

.rating-icon-style{
    i{
        font-size: 0.7rem;
        color: $primary-color;
    }
}