@media (max-width:992px){
    .lg-none{
        display: none;
    }
    .search-input{
        width: 200px;
    
    } 
    .main-nav{
        background-color: transparent;
    
        ul.navbar-nav{
            li.nav-item{
                a.nav-link{
                    color: $black-color;
                }
            }
        }
    }
    .custom-next-btn:after {
        font-size: 1.5rem;
      }
    
    .custom-prev-btn:after {
      font-size: 1.5rem;
    }

    ul.main-hero-section-features-inner{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        li{
            width: 33%;
            padding: 1rem;
            &:not(:last-child){
                border-right: 0;
            }
            &:first-child{
                border-right: $small-border-style;      
            }
            &:not(:nth-child(2n+1)) {
                border-right: $small-border-style;      
            }



        }

    }


}


@media (max-width:768px){
    .md-none{
        margin-left: 0!important;
        display: none;
    }
    li.user-ham-links{
        display: block!important;
    }

    .main-hero-section{
        figure{
            figcaption{
                padding-left: 3rem;
            }
        }
    }
    .custom-next-btn:after {
        font-size: 1rem;
      }
    
    .custom-prev-btn:after {
      font-size: 1rem;
    }
    ul.main-hero-section-features-inner{
        li{
            width: 50%;
            padding: 1rem;
            &:not(:last-child){
                border-right: 0;
            }

        }
    }


}


@media (max-width:576px){
    .main-logo{
        display: none;
    }
    .search-bar-nav{
        display: none; 
    }
    .search-input{
        width: 180px;
    
    } 
    .categories-dropdown{
        display: none;
    }
    .main-nav-logo{
        display: block!important;
    }
    .search-box-sm{
        margin-top: 1rem ;
        display: flex!important;
        justify-content: center;
    }
    .main-nav{
        background-color: $black-color;
    
        ul.navbar-nav{
            li.nav-item{
                a.nav-link{
                    color: $white-color
                }
            }
        }
    }
    .logo-style{
        span{
            color: $white-color;
        }
    }
    .main-hero-section{
        figure{
            figcaption{
                padding: 0 3rem;
            }
        }
    }
    ul.main-hero-section-features-inner{
        flex-direction: column;
        li{
            width: 100%;

            .content{
                justify-content: left;
            }
        }
    }


}