@media (max-width:992px){
    .lg-none{
        display: none;
    }
    .search-input{
        width: 200px;
    
    } 


}


@media (max-width:768px){
    .md-none{
        margin-left: 0!important;
        display: none;
    }
    li.user-ham-links{
        display: block!important;
    }
}


@media (max-width:576px){
    .main-logo{
        display: none;
    }
    .search-bar-nav{
        display: none; 
    }
    .search-input{
        width: 180px;
    
    } 
    .categories-dropdown{
        display: none;
    }
    .main-nav-logo{
        display: block!important;
    }
    .search-box-sm{
        margin-top: 1rem ;
        display: flex!important;
        justify-content: center;
    }
}